<div class="row ">
    <div class="col-xxl-12">
        .<button type="button" class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="row mt-4">
    <div class="col-xxl-12" *ngFor="let item of recipes" >
        <a href="#" class="list-group-item clearfix mt-4" >
            <div class="float-start">
                <h4 class="list-group-item">{{item.name}}</h4>
                <p class="list-group-item">{{item.description}}</p>
            </div>
            <span class="float-end">
                <img [src]="item.imagePath" alt="" class="rounded img-thumbnail" style="max-height: 100px; ">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

