<div class="row">
    <div class="col-xxl-12">
        <img [src]="getTheReceipeData.imagePath" [alt]="getTheReceipeData.name" 
          class="img-fluid"
          style="max-height: 300px;"
          >
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        <h1>{{getTheReceipeData.name}}</h1>
        <p>{{getTheReceipeData.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle"> 
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class=" dropdown-item">To Shopping List</a></li>
                <li><a href="#" class=" dropdown-item">Edit Recipe</a></li>
                <li><a href="#" class=" dropdown-item">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xxl-12">
        Ingredients
    </div>
</div>